{% include 'page/partials/head.html' %} <!-- Buscando á outra metade do código-->

<body>
    {% include 'page/partials/header.html' %} <!-- Buscando á outra metade do código-->
    {% include 'page/partials/search.html' %}


    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
        </div>
    </main>


</body>

</html>